/*GUI Guidelines color codes*/

$very-dark-gray   : #171717;
$dark-gray        : #2B2B2B;
$dark-medium-gray : #333333;
$medium-gray      : #444444;
$medium-light-gray: #5D5D5D;
$light-gray       : #838383;

$medium-blue   : #196385;
$lightest-blue : #278ED4;
$hover-blue : #1F2431;


$off-white-text : #F0F0F0;
$white          : #FFFFFF;

/*Common SASS Variables*/

$opacity-full : 1;
$opacity-half : 0.5;
$transparent    : transparent;


/* Form Fields */
$label-text : $light-gray;
$label-font-weight : 600;

$fieldset-padding        : 5px 15px 10px 0px;
$fieldset-background     : transparent;
$fieldset-border-width   : 0px;

$fieldset-header-padding       : 10px 5px 4px 5px;
$fieldset-header-border-bottom : 1px solid $light-gray;
$fieldset-header-width         : 100%;
$fieldset-header-margin-bottom : 8px;

$fieldset-header-text-color       : $light-gray;
$fieldset-header-text-font-weight : 600;
$fieldset-header-text-font-size   : 16px;

$field-pading-left : 5px;

$checkbox-bg-image-uncheck : url(get-resource-path('images/grid_uncheckbox.png', $pool: 'shared'));
$checkbox-bg-image-check   : url(get-resource-path('images/grid_checkbox.png', $pool: 'shared'));
$checkbox-bg-size          : 27px 27px;
$checkbox-bg-position      : -5px -5px;
$checkbox-bg-repeat        : no-repeat;
$checkbox-content          : '';

$radio-btn-color : $medium-blue;

$combobox-default-bg      : $dark-gray;
$combobox-trigger-bg      : $dark-gray;
$combobox-trigger-content : "\f107";

$text-default-bg           : $very-dark-gray;
$text-default-selection-bg : $lightest-blue;

$boundlist-item-color : $off-white-text;

/*Tab panel*/

$tab-scroller-color : $off-white-text;


/*Window*/

$window-default-border : $dark-medium-gray;
$window-focus-border   : $lightest-blue;

$msg-window-active-btn-border      : $medium-blue;
$msg-window-active-btn-bg          : $dark-gray;
$msg-window-active-btn-over-border : $lightest-blue;
$msg-window-active-btn-over-bg     : $medium-gray;
$msg-window-toolbar-border         : 1px;
$msg-window-toolbar-border-color   : $medium-gray;
$msg-window-toolbar-bg-color       : $very-dark-gray;

/*Scrollbar*/

$scroller-size           : 12px;
$scroller-thumb-bg-color : #76797D;
$scroller-thumb-border   : 2px solid #2B2C33;
$scroller-track-bg-color : #2B2C33;
$scroller-corner-bg-color: transparent;

/*Tree Panel*/

$node-minified-content : "\f107";
$node-expanded-content : "\f105";
$tree-icon: "\f220";
$semi-transparent-parent-node: rgba(43, 43, 43, 0.71);
$semi-transparent-child-node: rgba(68, 68, 68, 0.54);